params {
  //NUMBER OF INPUT LINES TO BE PROOCESSED FOR TRIAL PURPOSES, DEFAULT null WILL PROCESS WHOLE DATASETS
  trialLines = null

  //EITHER LOCAL OR REMOTE REFERENCE GENOME ASSEMBLIES(S)
  references = [
    [ 
      species : "Arabidopsis_thaliana", //Must be Genus_species
      version : "TAIR10",
      //fasta : "results/download/Arabidopsis_thaliana_TAIR10_20000_trialLines.fasta"
      fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-39/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.gz"
    ],
    // [ 
    //   species : "Triticum_dicoccoides",
    //   version : "WEWseq_PGSB_20160501",
    //   subgenomes : ["A","B"],
    //   //fasta : "results/download/Triticum_dicoccoides_WEWseq_PGSB_20160501_10000_trialLines.fasta"
    //   fasta : "https://wheat.pw.usda.gov/graingenes_downloads/Zavitan/151210_zavitan_v2_pseudomolecules.bin"
    // ],
    [ 
      species : "Triticum_aestivum",
      version : "v1.1",
      subgenomes : ["A","B","D"]
    ]
  ]

  simreads {
    //
    simulator = "DwgSim" //["ArtIllumina", "CuReSim", "DwgSim", "MasonIllumina", "WgSim"] //CuReSim SE only
    nreads = 1000
    // nrepeat = 1
    length = 100 //can be a list
    mode = ["SE","PE"] //"PE" //
    distance = [300] //PE only, can be a list hence in square brackets 
    distanceDev = [50] //PE only, can be a list hence in square brackets 
  }
}