process {
    withLabel: biokanga {
      module = 'biokanga/4.3.9'
    } 
    withLabel: bowtie2 {
      module = 'bowtie/2.2.9'
    }
    withLabel: bwa {
      module = 'bwa/0.7.15'
    }
    // withLabel: fastx {
    //   module = 'fastx/0.0.14'
    // }
    withLabel: samtools {
      module = 'samtools/1.7.0'
    }
}
