process {  
  withLabel: download {
    publishDir {
      path = "${params.outdir}/download"
      mode = "symlink"
    }
  }
  withName: kangaAlign {
    publishDir {
      path = "${params.outdir}/BAMs/biokanga"
      mode = "${params.publishmode}"
    }
  }
  withName: combineStats {
    publishDir {
      path = "${params.outdir}/stats"
      mode = "${params.publishmode}"
    }
  }
}
